*__pycache__/
.vscode
.conda/
*.ipynb_checkpoints
analysis/inputs/chips*
analysis/models/*/
analysis/outputs/*.root
analysis/outputs/*.pgf
analysis/outputs/*.png
analysis/outputs/*.pdf
analysis/outputs/*.dat
